html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: url('/assets/images/login_bg.jpg') no-repeat center;
    background-size: cover;
}

.loginAndRegbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 355px;
    background-color: #fff;
}

.title-box {
    margin: auto;
    width: 360px;
    height: 60px;
    background-color: pink;
    background: url(/assets/images/login_title.png) no-repeat center;
}

.layui-form {
    margin: 0 30px;
}

.reg-box {
    display: none;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.links a {
    font-size: 12px;
}

.layui-form-item {
    position: relative;
}

.layui-input {
    padding-left: 32px;
}

.layui-icon {
    position: absolute;
    top: 10px;
    left: 12px;
}